.form-item-roles-administrator,
.form-item-roles-adap-administrator {
	display: none;
}
#views-form-user-admin-page tr.Administrator, 
#views-form-user-admin-page tr.ADAP-Administrator {
	display: none;
}
.views-bulk-form option[value=user_remove_role_administrator],
.views-bulk-form option[value=user_add_role_administrator],
.views-bulk-form option[value=user_remove_role_adap_administrator],
.views-bulk-form option[value=user_add_role_adap_administrator] {
	display: none;
}